<%= form_for(@track) do |f| %>
  <ul>
  <% @track.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>
  <p class="form_liner">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  <p class="form_liner">
    <%= f.label :album, :class => "composers_label" %>
	<%= f.select(:music_id, Music.all.collect {|m| [m.title, m.id]}, {:include_blank => true})%>
  </p>
  <p class="form_liner">
    <%= f.label :duration_in_seconds %>
    <%= f.text_field :length, :style => 'width: 60px;' %>
    
	<% if false %>
	<%= f.text_field :hours, :value => @track.time_duration("h"), :placeholder => "hh", :class => 'duration_fields' %>:
    <%= f.text_field :minutes, :value => @track.time_duration("m"),
								:placeholder => "mm",
								:class => 'duration_fields',
								:maxlength => 2 %>:
    <%= f.text_field :seconds, :value => @track.time_duration("s"),
								:placeholder => "ss",
								:class => 'duration_fields',
								:maxlength => 2 %>
	<% end %>
  </p>
  <p class="form_liner">
    <%= f.label :song_artist%>
    <%= f.text_field :artist %>
  </p>
  <p class="form_liner">
    <%= f.label :track_number %>
    <%= f.text_field :number %>
  </p>
  <p class="form_liner">
    <%= f.label :isrc, "ISRC" %>
    <%= f.text_field :isrc %>
  </p>
  <p class="form_liner">
    <%= f.label :ccli, "CCLI Number" %>
    <%= f.text_field :ccli %>
  </p>
  <p class="form_liner">
    <%= f.label :authors %>
    <%= f.text_area :authors %>
  </p>
  <p class="form_liner">
    <%= f.submit(:class => "submit") %>
  </p>
<% end %>