<%= render "layouts/nav" %>

<div id="main">

	<h2>Edit <%= resource_name.to_s.humanize %></h2>

	<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
	  <%= devise_error_messages! %>

	  <p class="form_liner">
	    <%= f.label :email %>
	    <%= f.email_field :email, autofocus: true %>
	  </p>

	  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
	    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
	  <% end %>

	  <p class="form_liner">
	    <%= f.label :password %>
	    <%= f.password_field :password, autocomplete: "off", :placeholder => "(leave blank if you don't want to change it)" %>
	  </p>

	  <p class="form_liner">
	    <%= f.label :password_confirmation %>
	    <%= f.password_field :password_confirmation, autocomplete: "off" %>
	  </p>

	  <p class="form_liner">
	    <%= f.label :current_password %>
	    <%= f.password_field :current_password, autocomplete: "off", :placeholder => "(we need your current password to confirm your changes)" %>
	  </p>
<% if current_user.admin %>
	 <p class="form_liner checkbox_liner">
		<%= f.label :admin %>
		<%= f.check_box :admin %>
	</p>

<% end %>

	<p class="form_liner">
				<%= f.label :first_name %>
				<%= f.text_field :fname %>
			</p>
			
			<p class="form_liner">
				<%= f.label :last_name %>
				<%= f.text_field :lname %>
			</p>

		 	<p class="form_liner">
				<%= f.label :company %>
				<%= f.text_field :company %>
			</p>
			
			<p class="form_liner">
				<%= f.label :address1 %>
				<%= f.text_field :address1 %>
			</p>

			<p class="form_liner">
				<%= f.label :address2 %>
				<%= f.text_field :address2 %>
			</p>
			
			<p class="form_liner">
				<%= f.label :city %>
				<%= f.text_field :city %>
			</p>
			
			<p class="form_liner">
				<%= f.label :state %>
				<%= f.select :state, options_for_select(us_states, resource.state) %>
			</p>
			
			<p class="form_liner">
				<%= f.label :zip %>
				<%= f.text_field :zip %>
			</p>
			
			<p class="form_liner">
				<%= f.label :phone %>
				<%= f.text_field :phone, :maxlength => 14, :placeholder => "1-111-111-1111" %>
			</p>

	  <p class="form_liner">
	    <%= f.submit "Update" %>
	  </p>
	<% end %>

	<p class="form_liner">
		<%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, :class => 'red_button' %>
	</p>
	
</div>