<%= render "layouts/nav" %>

<div id="main">
	<h2>Sign up</h2>

	<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
	  <%= devise_error_messages! %>

	  <p class="form_liner">
	    <%= f.label :email %>
	    <%= f.email_field :email, autofocus: true %>
	  </p>

	  <p class="form_liner">
	    <%= f.label :password %>
	    <%= f.password_field :password, autocomplete: "off" %>
	  </p>

	  <p class="form_liner">
	    <%= f.label :password_confirmation %>
	    <%= f.password_field :password_confirmation, autocomplete: "off" %>
	  </p>
	
	<hr />
	
		<p class="form_liner">
			<%= f.label :first_name %>
			<%= f.text_field :fname %>
		</p>
		
		<p class="form_liner">
			<%= f.label :last_name %>
			<%= f.text_field :lname %>
		</p>

	 	<p class="form_liner">
			<%= f.label :company %>
			<%= f.text_field :company %>
		</p>
		
		<p class="form_liner">
			<%= f.label :address1, "Address" %>
			<%= f.text_field :address1 %>
		</p>

		<p class="form_liner">
			<%= f.label :address2, "Address" %>
			<%= f.text_field :address2 %>
		</p>
		
		<p class="form_liner">
			<%= f.label :city %>
			<%= f.text_field :city %>
		</p>
		
		<p class="form_liner">
			<%= f.label :state %>
			<%= f.select :state, options_for_select(us_states, @user.state) %>
		</p>
		
		<p class="form_liner">
			<%= f.label :zip %>
			<%= f.text_field :zip, :maxlength => 5 %>
		</p>
		
		<p class="form_liner">
			<%= f.label :phone %>
			<%= f.text_field :phone, :maxlength => 14, :placeholder => "9-999-999-9999" %>
		</p>

	  <p class="form_liner">
	    <%= f.submit "Sign up" %>
	  </p>
	<% end %>

	<%= render "devise/shared/links" %>
</div>