<%= form_for(@composer) do |f| %>
  <% if @composer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@composer.errors.count, "error") %> prohibited this composer from being saved:</h2>

      <ul>
      <% @composer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p class="form_liner">
    <%= f.label :fname, "First/Group Name" %>
    <%= f.text_field :fname %>
  </p>
  <p class="form_liner">
    <%= f.label :lname, "Last Name" %>
    <%= f.text_field :lname %>
  </p>
  <p class="form_liner">
    <%= f.label :bio %>
    <%= f.text_area :bio %>
  </p>
  <p class="form_liner">
    <%= f.label :city %>
    <%= f.text_field :city %>
  </p>
  <p class="form_liner">
    <%= f.label :state %>
    <%= f.select :state, options_for_select(us_states, @composer.state) %>
  </p>
  <p class="form_liner">
    <%= f.submit %>
  </p>
<% end %>
