<p id="notice"><%= notice %></p>

<%= render "layouts/nav" %>

<% if @view == "authors" %>

	<table id="index_title">
		<tr><td>
		<h2>Authors</h2>
		</td><td>
		<%= link_to "Books", books_path %>
		</td></tr>
	</table>
	
<% elsif @view == "artists" %>

	<table id="index_title">
		<tr><td>
		<h2>Artists</h2>
		</td><td>
		<%= link_to "Music", musics_path %>
		</td></tr>
	</table>
	
<% else %>
	
	<table id="index_title">
		<tr><td>
		<h2>Artists/Authors</h2>
		</td></tr>
	</table>
	
<% end %>

<div id="main">
	<ul>
		<% @composers.each do |composer| %>
			<li><%= link_to composer.full_name, composer_path(composer) %></li>
		<% end %>
	</ul>
</div>

