<%= render "layouts/nav" %>

	<table id="index_title">
		<tr><td>
			<h2>Address Book<span style="font-size: .8em; opacity: .8;"> for <%= @user.full_name %></span></h2>
		</td><td>
			<span style="font-size: .8em; opacity: .8;">User #<%= @user.id %></span>
		</td></tr>
	</table>
	
	<ul id="index_ul">
		<% @addresses.each do |address| %>
			<li>
				<div class="index_block">
					<div class="index_address_details">
						<div class="index_address_title"><%= address.name %></div>
						<% if address.company.present? %>
								<%= address.company %><br />
							<% end %>
							<%= address.address1 %><br />
							<% if address.address2.present? %>
								<%= address.address2 %><br />
							<% end %>
							<%= address.city %>, <%= address.state %> <%= address.zip %><br />
							<% if address.phone.present? %>
								<%= address.phone %><br />
							<% end %>
						</div>
						<div class="inline-block">
							<%= link_to "Edit", edit_address_path(address), method: :get, :class => "address_link" %>
							<%= link_to "Delete", address_path(address), method: :delete, data: {confirm: "Are you sure you want to delete this address?"}, :class => "address_link" %>
						</div>
						<br />
						<i style="opacity: .8;">Address # <%= address.id %></i>
						<br />
					</div>
				</div>
			</li>
		<% end %>
		<li>
			<%= link_to "New Address", new_address_path %>
		</li>
	</ul>