<%= render "layouts/nav" %>

<div id="index_title">
	<h2 style="display: inline-block; margin-bottom: 0px;">Admin</h2><br />
	<i>Logged in as <%= current_user.email %><br /><%= link_to "Edit Account", edit_user_registration_path(current_user) %> &nbsp;| &nbsp;<%= link_to "Logout", destroy_user_session_path, :method => :delete %></i>
</div>

	<!-------------- Authors/Artists -------------!>
			<div class="admin_main">
				<h2>Authors/Artists</h2>
				<%= link_to "Add Author/Artist", new_composer_path %>
				<ul class="admin_list">
					<% @composers.each do |composer| %>
						<li>
							<div class="admin_item_div admin_item_title" %>
								<%= composer.full_name %>
							</div>
							<div class="admin_item_div">
								<%= composer.city + ", " + composer.state %>
							</div>
							<div class="admin_edit_div">
								<%= button_to "View Page", composer_path(composer), :class => "admin_show_button", method: :get %>
							</div>
							<div class="admin_edit_div">
								<%= button_to "Edit", edit_composer_path(composer), :class => "admin_edit_button", method: :get %>
							</div>
						</li>
					<% end %>
				</ul>
			</div>


	<!-------------- Books -------------!>
			<div class="admin_main">
				<h2>Books</h2>
				<%= link_to "Add Book", new_book_path %>
				<ul class="admin_list">
					<% @books.each do |book| %>
						<li>
							<div class="admin_item_div admin_item_title">
								<%= book.title %>
							</div>
							<div class="admin_item_div">
								<%= book.composers.each.map{|c| c.full_name}.join(", ") %>
							</div>
							<div class="admin_item_div">
								<%= usd(book.price) %>
							</div>
							<div class="admin_item_div">
								<%= book.stock %>
							</div>
							<div class="admin_edit_div">
								<%= button_to "View Book", book_path(book), :class => "admin_show_button", method: :get %>
							</div>
							<div class="admin_edit_div">
								<%= button_to "Edit", edit_book_path(book), :class => "admin_edit_button", method: :get %>
							</div>
						</li>
					<% end %>
				</ul>
			</div>
	
	<!-------------- Music -------------!>
			<div class="admin_main">
				<h2>Music</h2>
				<%= link_to "Add Album", new_music_path %>
				<ul class="admin_list">
					<% @music.each do |music| %>
						<li>
							<div class="admin_item_div admin_item_title">
								<%= music.title %>
							</div>
							<div class="admin_item_div">
								<%= usd(music.price) %>
							</div>
							<div class="admin_edit_div">
								<%= button_to "Tracks", admintracks_url(id: music.id), :class => "admin_toggle_button", method: :get %>
							</div>
							<div class="admin_edit_div">
								<%= button_to "View Album", music_path(music), :class => "admin_show_button", method: :get %>
							</div>
							<div class="admin_edit_div">
								<%= button_to "Edit", edit_music_path(music), :class => "admin_edit_button", method: :get %>
							</div>
						</li>
					<% end %>
				</ul>
			</div>

	<!------------- Admin -------------!>
			<div class="admin_main">
				<h2>Admin <span style="font-size: .7em;">(<%= @users.count %>)</span></h2>
				<ul class="admin_list">
					<% @users.each do |user| %>
						<li>
							<%= user.email %>
						</li>
					<% end %>
				</ul>
			</div>
