<%= render "layouts/nav" %>

<div id="main">

	<h2>Edit <%= @selected_user.full_name %></h2>

	<%= form_for(@selected_user, url: admin_user_update_path) do |f| %>
	  <ul>
	<% @selected_user.errors.full_messages.each do |error| %>
		<li><%= error %></li>
	<% end %>
	</ul>

	  <p class="form_liner">
	    <%= f.label :email %>
	    <%= f.email_field :email, autofocus: true %>
	  </p>

	  <p class="form_liner">
	    <%= f.label :password, "Change Password" %>
	    <%= f.password_field :password, autocomplete: "off", :placeholder => "(leave blank if you don't want to change it)" %>
	  </p>

	  <p class="form_liner">
	    <%= f.label :password_confirmation %>
	    <%= f.password_field :password_confirmation, autocomplete: "off" %>
	  </p>

<% if current_user.admin %>
	 <p class="form_liner checkbox_liner">
		<%= f.label :admin %>
		<%= f.check_box :admin %>
	</p>

<% end %>

	<p class="form_liner">
				<%= f.label :first_name %>
				<%= f.text_field :fname %>
			</p>
			
			<p class="form_liner">
				<%= f.label :last_name %>
				<%= f.text_field :lname %>
			</p>

		 	<p class="form_liner">
				<%= f.label :company %>
				<%= f.text_field :company %>
			</p>

	  <p class="form_liner">
	    <%= f.submit "Update" %>
	  </p>
	<% end %>

	<p class="form_liner">
		<%= button_to "Cancel Account", admin_destroy_user_path(@selected_user), method: :delete, data: { confirm: "Are you sure you want to delete this account? This will remove the account and all addresses associated with it and cannot be undone." }, :class => 'red_button' %>
	</p>
	
</div>