<%= form_for(@book) do |f| %>
  <ul>
  <% @book.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>
  <p class="form_liner">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  <p class="form_liner">
    <%= f.label :author, :class => "composers_label" %>
	<%= f.select(:composer_ids, Composer.all.collect {|c| [c.full_name, c.id]}, {},
								{:multiple => true,
								:size => 5}) %>
  </p>
  <p class="form_liner">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </p>
  <p class="form_liner">
    <%= f.label :isbn, "ISBN" %>
    <%= f.text_field :isbn, :maxlength => 13 %>
  </p>
  <p class="form_liner">
    <%= f.label :publishing_date%>
    <%= f.date_select :pubdate,
						:use_short_month => true,
						:start_year => 2013,
						:end_year => Date.today.year + 1,
						:order => [:month, :day, :year] %>
  </p>
  <p class="form_liner">
    <%= f.label :current_stock %>
    <%= f.text_field :stock %>
  </p>
  <p class="form_liner checkbox_liner">
    <%= f.check_box :can_order, :class => 'checkbox' %><%= f.label :book_can_be_ordered, :id => 'checkbox_label' %>
  </p>
  <p class="form_liner">
    <%= f.submit(:class => "submit") %>
  </p>
<% end %>