<%= render "layouts/nav" %>

<table id="index_title">
	<tr><td>
	<h2>Books</h2>
	</td><td>
	<%= link_to "Authors", {:controller => "composers", :action => "index", :view => "authors"} %>
	</td></tr>
</table>
	<ul id="index_ul">
		<% @books.each do |book| %>
			<li>
				<div class="index_book">
				<%= link_to book_path(book) do %>
					<%= image_tag book.cover.url(:medium), :class => 'show_book' %>
					<div class="index_book_details">
						<div class="index_book_title"><%= book.title %></div>
							Author: <i><%= raw(book.composers.map{|c| link_to c.full_name, composer_path(c)}.join(', ')) %></i><br />
							Publishing Date: <%= book.pubdate.strftime("%b %d, %Y") %><br />
							Price: <%= usd(book.price) %><br /><br />
							<%= button_to "Add To Cart", add_to_cart_path(item: {:product_id => book.isbn, :quantity => 1, :cart_id => @cart.id}) %>
						</div>
					</div>
				<% end %>
			</li>
		<% end %>
	</ul>