<%= render "layouts/nav" %>

<table id="index_title">
	<tr><td>
	<h2>Music</h2>
	</td><td>
	<%= link_to "Artists", {:controller => "composers", :action => "index", :view => "artists"} %>
	</td></tr>
</table>

	<ul id="index_ul">
		<% @musics.each do |music| %>
			<li>
				<div class="index_music">
				<%= link_to music_path(music) do %>
					<%= image_tag("", :class => 'show_music') %>
					<div class="index_music_details">
						<div class="index_music_title"><%= music.title %></div>
							Author: <i><%= raw(music.composers.map{|c| link_to c.full_name, composer_path(c)}.join(', ')) %></i><br />
							Release Date: <%= music.released.strftime("%b %d, %Y") %><br />
							Price: <%= usd(music.price) %><br />
						</div>
					</div>
				<% end %>
			</li>
		<% end %>
	</ul>