<%= render "layouts/nav" %>

<div id="index_title">
	<h2>Music</h2>
</div>

	<ul id="index_ul">
		<% @musics.each do |music| %>
			<li>
				<div class="index_music">
				<%= link_to music_path(music) do %>
					<%= image_tag("", :class => 'show_music') %>
					<div class="index_music_details">
						<div class="index_music_title"><%= music.title %></div>
							Author: <i><%= raw(music.composers.map{|c| link_to c.full_name, composer_path(c)}.join(', ')) %></i><br />
							Release Date: <%= music.released.strftime("%b %d, %Y") %><br />
							Barcode: <%= music.barcode %><br />
							<%= link_to "Edit", edit_music_path(music) %><br />
							<%= link_to "Delete", music_path(music), method: :delete, data: {confirm: "Really delete this music? This action cannot be undone"} %>
						</div>
					</div>
				<% end %>
			</li>
		<% end %>
	</ul>