<%= render "layouts/nav" %>

<div id="main">
	<%= image_tag("", :class => 'show_music') %>
	<div id="show_music_details">
		<h2 class="show_title"><%= @music.title %></h2><br />
		Artist: <i><%= raw(@music.composers.map{|c| link_to c.full_name, composer_path(c)}.join(', ')) %></i><br />
		Release Date: <%= @music.released.strftime("%b %d, %Y") %><br />
		Barcode: <%= @music.barcode %><br /><br />
		Tracks:<br />
		<% @music.tracks.order(:number).each do |t| %>
			<%= t.number %>. <%= t.title %><br />
		<% end %>
		<% if @music.can_order == true %>
			<br />
			<%= stock_check(@music) %>
			<br /><br />
		<% end %>
	</div>
	<div id="show_music_description">
		<%= raw @music.description %>
	</div>
	
</div>